@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');

html, body {
  background-color: black;
  color: white;
  font-family: 'Manrope', sans-serif;

  --orange-color: #FF6D3F;
}

.section {
  position: relative;
}

.section * {
  z-index: 1;
}

.section.fullscreen {
  min-height: 100vh;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}