.Figure {
    transform: translate(var(--x-offset), var(--y-offset)) rotate(var(--rotation));
    transition: transform 0.1s linear;
    z-index: 0;
    position: absolute;
    left: var(--x-position);
    top: var(--y-position);
}

@keyframes fly {
    0% {
        transform: translate(var(--x-offset-frame1), var(--y-offset-frame1)) rotate(var(--rotation));
    }

    100% {
        transform: translate(var(--x-offset-frame2), var(--y-offset-frame2)) rotate(var(--rotation));
    }
}