.name-body {
  background: conic-gradient(from var(--gradient-rotation) at 200% 500%, #FFFFFF -16.88deg, #FFFFFF 22.5deg, #FF6D3F 73.13deg, #FFFFFF 127.5deg, #FFFFFF 172.5deg, #3A71FF 181.87deg, #EFFF3A 191.25deg, #FFFFFF 200.63deg, #FFFFFF 225deg, #FF6D3F 298.12deg, #FFFFFF 343.12deg, #FFFFFF 382.5deg);
  clip-path: url(#name-clip);
  width: 413px;
  height: 64px;
}

@media screen and (max-width: 900px) {
  .name-body {
    width: 257.4px;
    height: 39px;
  }
}

.Name {
  font-size: 0;
}