.ProjectBox {
    width: 300px;
    height: 200px;

    border: 2px solid var(--orange-color);
    margin-bottom: 25px;
    margin-right: 25px;

    background-image: var(--image-url);
    background-size: cover;
    background-position: center;

    overflow: hidden;
}

.info-box {
    background: rgba(255, 109, 63, 0.5);
    --padding: 15px;
    padding: var(--padding);

    box-sizing: border-box;
    height: 100%;
    width: 100%;

    line-height: 1.3;
    transform: translateY(calc(calc(100% - calc(var(--padding) * 2)) - 1.3em));
    transition: transform 0.2s ease-in-out;
}

.info-box>*:first-child {
    font-weight: 600;
}

.info-box>*:not(:last-child) {
    margin-bottom: var(--padding);
}

.info-box>*:nth-child(2) {
    font-size: var(--small-font-size);
}

.ProjectBox:hover>.info-box {
    transform: none;
}

.info-box>*:nth-child(3) a {
    font-size: 18px;
}


.info-box>*:nth-child(3) {
    display: flex;
    align-items: center;
}

.info-box>*:nth-child(3)>svg {
    margin-right: 10px;
}